VITE_API_BASE_URL=http://localhost:3000
# Modo codigo fijo (true) o correo (false)
VITE_AUTH_FIXED_CODE_MODE=false
# TODO: update domain to mitimiti.itzkevindev.tech (or new domain) when DNS is migrated
VITE_SITE_URL=https://mitimiti.itzkevindev.tech
VITE_GOOGLE_SITE_VERIFICATION=
